*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --black: #0A0908;
    --blue: #001F54;
    --light-blue: #034078;
    --grey: #DDD;
    --white: #EEE;
}

.main {
    width: 100%;
    height: 100vh;

}